In [86]:
import pandas as pd
import numpy as np

In [87]:
df = pd.read_csv("speed_dating_data.csv",encoding='ISO-8859-1')
df = df.drop(["id", "iid"], axis = 1)

In [88]:
df

,gender,idg,condtn,wave,round,position,positin1,order,partner,pid,match,int_corr,samerace,age_o,race_o,pf_o_att,pf_o_sin,pf_o_int,pf_o_fun,pf_o_amb,pf_o_sha,dec_o,attr_o,sinc_o,intel_o,fun_o,amb_o,shar_o,like_o,prob_o,met_o,age,field,field_cd,undergra,mn_sat,tuition,race,imprace,imprelig,from,zipcode,income,goal,date,go_out,career,career_c,sports,tvsports,exercise,dining,museums,art,hiking,gaming,clubbing,reading,tv,theater,movies,concerts,music,shopping,yoga,exphappy,expnum,attr1_1,sinc1_1,intel1_1,fun1_1,amb1_1,shar1_1,attr4_1,sinc4_1,intel4_1,fun4_1,amb4_1,shar4_1,attr2_1,sinc2_1,intel2_1,fun2_1,amb2_1,shar2_1,attr3_1,sinc3_1,fun3_1,intel3_1,amb3_1,attr5_1,sinc5_1,intel5_1,fun5_1,amb5_1,dec,attr,sinc,intel,fun,amb,shar,like,prob,met,match_es,attr1_s,sinc1_s,intel1_s,fun1_s,amb1_s,shar1_s,attr3_s,sinc3_s,intel3_s,fun3_s,amb3_s,satis_2,length,numdat_2,attr7_2,sinc7_2,intel7_2,fun7_2,amb7_2,shar7_2,attr1_2,sinc1_2,intel1_2,fun1_2,amb1_2,shar1_2,attr4_2,sinc4_2,intel4_2,fun4_2,amb4_2,shar4_2,attr2_2,sinc2_2,intel2_2,fun2_2,amb2_2,shar2_2,attr3_2,sinc3_2,intel3_2,fun3_2,amb3_2,attr5_2,sinc5_2,intel5_2,fun5_2,amb5_2,you_call,them_cal,date_3,numdat_3,num_in_3,attr1_3,sinc1_3,intel1_3,fun1_3,amb1_3,shar1_3,attr7_3,sinc7_3,intel7_3,fun7_3,amb7_3,shar7_3,attr4_3,sinc4_3,intel4_3,fun4_3,amb4_3,shar4_3,attr2_3,sinc2_3,intel2_3,fun2_3,amb2_3,shar2_3,attr3_3,sinc3_3,intel3_3,fun3_3,amb3_3,attr5_3,sinc5_3,intel5_3,fun5_3,amb5_3
0,0,1,1,1,10,7,NaN,4,1,11.0,0,0.14,0,27.0,2.0,35.0,20.0,20.0,20.0,0.0,5.0,0,6.0,8.0,8.0,8.0,8.0,6.0,7.0,4.0,2.0,21.0,Law,1.0,NaN,NaN,NaN,4.0,2.0,4.0,Chicago,"60,521","69,487.00",2.0,7.0,1.0,lawyer,NaN,9.0,2.0,8.0,9.0,1.0,1.0,5.0,1.0,5.0,6.0,9.0,1.0,10.0,10.0,9.0,8.0,1.0,3.0,2.0,15.0,20.0,20.0,15.0,15.0,15.0,NaN,NaN,NaN,NaN,NaN,NaN,35.0,20.0,15.0,20.0,5.0,5.0,6.0,8.0,8.0,8.0,7.0,NaN,NaN,NaN,NaN,NaN,1,6.0,9.0,7.0,7.0,6.0,5.0,7.0,6.0,2.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,19.44,16.67,13.89,22.22,11.11,16.67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,7.0,8.0,7.0,6.0,NaN,NaN,NaN,NaN,NaN,1.0,1.0,0.0,NaN,NaN,15.0,20.0,20.0,15.0,15.0,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
1,0,1,1,1,10,7,NaN,3,2,12.0,0,0.54,0,22.0,2.0,60.0,0.0,0.0,40.0,0.0,0.0,0,7.0,8.0,10.0,7.0,7.0,5.0,8.0,4.0,2.0,21.0,Law,1.0,NaN,NaN,NaN,4.0,2.0,4.0,Chicago,"60,521","69,487.00",2.0,7.0,1.0,lawyer,NaN,9.0,2.0,8.0,9.0,1.0,1.0,5.0,1.0,5.0,6.0,9.0,1.0,10.0,10.0,9.0,8.0,1.0,3.0,2.0,15.0,20.0,20.0,15.0,15.0,15.0,NaN,NaN,NaN,NaN,NaN,NaN,35.0,20.0,15.0,20.0,5.0,5.0,6.0,8.0,8.0,8.0,7.0,NaN,NaN,NaN,NaN,NaN,1,7.0,8.0,7.0,8.0,5.0,6.0,7.0,5.0,1.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,19.44,16.67,13.89,22.22,11.11,16.67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,7.0,8.0,7.0,6.0,NaN,NaN,NaN,NaN,NaN,1.0,1.0,0.0,NaN,NaN,15.0,20.0,20.0,15.0,15.0,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
2,0,1,1,1,10,7,NaN,10,3,13.0,1,0.16,1,22.0,4.0,19.0,18.0,19.0,18.0,14.0,12.0,1,10.0,10.0,10.0,10.0,10.0,10.0,10.0,10.0,1.0,21.0,Law,1.0,NaN,NaN,NaN,4.0,2.0,4.0,Chicago,"60,521","69,487.00",2.0,7.0,1.0,lawyer,NaN,9.0,2.0,8.0,9.0,1.0,1.0,5.0,1.0,5.0,6.0,9.0,1.0,10.0,10.0,9.0,8.0,1.0,3.0,2.0,15.0,20.0,20.0,15.0,15.0,15.0,NaN,NaN,NaN,NaN,NaN,NaN,35.0,20.0,15.0,20.0,5.0,5.0,6.0,8.0,8.0,8.0,7.0,NaN,NaN,NaN,NaN,NaN,1,5.0,8.0,9.0,8.0,5.0,7.0,7.0,NaN,1.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,19.44,16.67,13.89,22.22,11.11,16.67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,7.0,8.0,7.0,6.0,NaN,NaN,NaN,NaN,NaN,1.0,1.0,0.0,NaN,NaN,15.0,20.0,20.0,15.0,15.0,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
3,0,1,1,1,10,7,NaN,5,4,14.0,1,0.61,0,23.0,2.0,30.0,5.0,15.0,40.0,5.0,5.0,1,7.0,8.0,9.0,8.0,9.0,8.0,7.0,7.0,2.0,21.0,Law,1.0,NaN,NaN,NaN,4.0,2.0,4.0,Chicago,"60,521","69,487.00",2.0,7.0,1.0,lawyer,NaN,9.0,2.0,8.0,9.0,1.0,1.0,5.0,1.0,5.0,6.0,9.0,1.0,10.0,10.0,9.0,8.0,1.0,3.0,2.0,15.0,20.0,20.0,15.0,15.0,15.0,NaN,NaN,NaN,NaN,NaN,NaN,35.0,20.0,15.0,20.0,5.0,5.0,6.0,8.0,8.0,8.0,7.0,NaN,NaN,NaN,NaN,NaN,1,7.0,6.0,8.0,7.0,6.0,8.0,7.0,6.0,2.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,19.44,16.67,13.89,22.22,11.11,16.67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,7.0,8.0,7.0,6.0,NaN,NaN,NaN,NaN,NaN,1.0,1.0,0.0,NaN,NaN,15.0,20.0,20.0,15.0,15.0,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
4,0,1,1,1,10,7,NaN,7,5,15.0,1,0.21,0,24.0,3.0,30.0,10.0,20.0,10.0,10.0,20.0,1,8.0,7.0,9.0,6.0,9.0,7.0,8.0,6.0,2.0,21.0,Law,1.0,NaN,NaN,NaN,4.0,2.0,4.0,Chicago,"60,521","69,487.00",2.0,7.0,1.0,lawyer,NaN,9.0,2.0,8.0,9.0,1.0,1.0,5.0,1.0,5.0,6.0,9.0,1.0,10.0,10.0,9.0,8.0,1.0,3.0,2.0,15.0,20.0,20.0,15.0,15.0,15.0,NaN,NaN,NaN,NaN,NaN,NaN,35.0,20.0,15.0,20.0,5.0,5.0,6.0,8.0,8.0,8.0,7.0,NaN,NaN,NaN,NaN,NaN,1,5.0,6.0,7.0,7.0,6.0,6.0,6.0,6.0,2.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,19.44,16.67,13.89,22.22,11.11,16.67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,7.0,8.0,7.0,6.0,NaN,NaN,NaN,NaN,NaN,1.0,1.0,0.0,NaN,NaN,15.0,20.0,20.0,15.0,15.0,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8373,1,44,2,21,22,14,10.0,5,18,526.0,0,0.64,0,26.0,3.0,10.0,10.0,30.0,20.0,10.0,15.0,1,10.0,5.0,3.0,2.0,6.0,5.0,6.0,1.0,NaN,25.0,Climate Dynamics,18.0,"Ecole Normale Suprieure, Paris",NaN,NaN,2.0,1.0,1.0,France,"78,110",NaN,1.0,2.0,1.0,assistant master of the universe (otherwise it...,15.0,8.0,2.0,5.0,10.0,10.0,10.0,7.0,1.0,9.0,8.0,3.0,7.0,9.0,10.0,10.0,7.0,3.0,10.0,NaN,70.0,0.0,15.0,15.0,0.0,0.0,90.0,0.0,0.0,0.0,0.0,10.0,50.0,0.0,0.0,30.0,0.0,20.0,8.0,7.0,6.0,7.0,7.0,9.0,7.0,10.0,5.0,9.0,0,3.0,5.0,5.0,5.0,NaN,NaN,2.0,5.0,0.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,1.0,2.0,70.0,0.0,15.0,10.0,0.0,5.0,70.00,0.00,15.00,10.00,0.00,5.00,80.0,0.0,5.0,5.0,0.0,10.0,50.0,5.0,10.0,20.0,5.0,10.0,9.0,3.0,7.0,6.0,9.0,9.0,3.0,9.0,4.0,7.0,2.0,0.0,0.0,NaN,1.0,70.0,0.0,20.0,10.0,0.0,0.0,70.0,0.0,20.0,10.0,0.0,0.0,80.0,0.0,10.0,0.0,0.0,10.0,50.0,5.0,10.0,20.0,10.0,5.0,8.0,5.0,7.0,6.0,7.0,9.0,5.0,9.0,5.0,6.0
8374,1,44,2,21,22,13,10.0,4,19,527.0,0,0.71,0,24.0,6.0,50.0,20.0,10.0,5.0,10.0,5.0,0,6.0,3.0,7.0,3.0,7.0,2.0,2.0,2.0,2.0,25.0,Climate Dynamics,18.0,"Ecole Normale Suprieure, Paris",NaN,NaN,2.0,1.0,1.0,France,"78,110",NaN,1.0,2.0,1.0,assistant master of the universe (otherwise it...,15.0,8.0,2.0,5.0,10.0,10.0,10.0,7.0,1.0,9.0,8.0,3.0,7.0,9.0,10.0,10.0,7.0,3.0,10.0,NaN,70.0,0.0,15.0,15.0,0.0,0.0,90.0,0.0,0.0,0.0,0.0,10.0,50.0,0.0,0.0,30.0,0.0,20.0,8.0,7.0,6.0,7.0,7.0,9.0,7.0,10.0,5.0,9.0,0,4.0,6.0,8.0,4.0,4.0,NaN,4.0,4.0,0.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,1.0,2.0,70.0,0.0,15.0,10.0,0.0,5.0,70.00,0.00,15.00,10.00,0.00,5.00,80.0,0.0,5.0,5.0,0.0,10.0,50.0,5.0,10.0,20.0,5.0,10.0,9.0,3.0,7.0,6.0,9.0,9.0,3.0,9.0,4.0,7.0,2.0,0.0,0.0,NaN,1.0,70.0,0.0,20.0,10.0,0.0,0.0,70.0,0.0,20.0,10.0,0.0,0.0,80.0,0.0,10.0,0.0,0.0,10.0,50.0,5.0,10.0,20.0,10.0,5.0,8.0,5.0,7.0,6.0,7.0,9.0,5.0,9.0,5.0,6.0
8375,1,44,2,21,22,19,10.0,10,20,528.0,0,-0.46,0,29.0,3.0,40.0,10.0,30.0,10.0,10.0,NaN,0,2.0,1.0,2.0,2.0,2.0,1.0,2.0,1.0,2.0,25.0,Climate Dynamics,18.0,"Ecole Normale Suprieure, Paris",NaN,NaN,2.0,1.0,1.0,France,"78,110",NaN,1.0,2.0,1.0,assistant master of the universe (otherwise it...,15.0,8.0,2.0,5.0,10.0,10.0,10.0,7.0,1.0,9.0,8.0,3.0,7.0,9.0,10.0,10.0,7.0,3.0,10.0,NaN,70.0,0.0,15.0,15.0,0.0,0.0,90.0,0.0,0.0,0.0,0.0,10.0,50.0,0.0,0.0,30.0,0.0,20.0,8.0,7.0,6.0,7.0,7.0,9.0,7.0,10.0,5.0,9.0,0,4.0,7.0,8.0,8.0,8.0,NaN,6.0,5.0,0.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,1.0,2.0,70.0,0.0,15.0,10.0,0.0,5.0,70.00,0.00,15.00,10.00,0.00,5.00,80.0,0.0,5.0,5.0,0.0,10.0,50.0,5.0,10.0,20.0,5.0,10.0,9.0,3.0,7.0,6.0,9.0,9.0,3.0,9.0,4.0,7.0,2.0,0.0,0.0,NaN,1.0,70.0,0.0,20.0,10.0,0.0,0.0,70.0,0.0,20.0,10.0,0.0,0.0,80.0,0.0,10.0,0.0,0.0,10.0,50.0,5.0,10.0,20.0,10.0,5.0,8.0,5.0,7.0,6.0,7.0,9.0,5.0,9.0,5.0,6.0
8376,1,44,2,21,22,3,10.0,16,21,529.0,0,0.62,0,22.0,4.0,10.0,25.0,25.0,10.0,10.0,20.0,1,5.0,7.0,5.0,5.0,3.0,6.0,6.0,4.0,2.0,25.0,Climate Dynamics,18.0,"Ecole Normale Suprieure, Paris",NaN,NaN,2.0,1.0,1.0,France,"78,110",NaN,1.0,2.0,1.0,assistant master of the universe (otherwise it...,15.0,8.0,2.0,5.0,10.0,10.0,10.0,7.0,1.0,9.0,8.0,3.0,7.0,9.0,10.0,10.0,7.0,3.0,10.0,NaN,70.0,0.0,15.0,15.0,0.0,0.0,90.0,0.0,0.0,0.0,0.0,10.0,50.0,0.0,0.0,30.0,0.0,20.0,8.0,7.0,6.0,7.0,7.0,9.0,7.0,10.0,5.0,9.0,0,4.0,6.0,5.0,4.0,NaN,5.0,5.0,5.0,0.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,1.0,2.0,70.0,0.0,15.0,10.0,0.0,5.0,70.00,0.00,15.00,10.00,0.00,5.00,80.0,0.0,5.0,5.0,0.0,10.0,50.0,5.0,10.0,20.0,5.0,10.0,9.0,3.0,7.0,6.0,9.0,9.0,3.0,9.0,4.0,7.0,2.0,0.0,0.0,NaN,1.0,70.0,0.0,20.0,10.0,0.0,0.0,70.0,0.0,20.0,10.0,0.0,0.0,80.0,0.0,10.0,0.0,0.0,10.0,50.0,5.0,10.0,20.0,10.0,5.0,8.0,5.0,7.0,6.0,7.0,9.0,5.0,9.0,5.0,6.0
8377,1,44,2,21,22,2,10.0,15,22,530.0,0,0.01,0,22.0,4.0,20.0,20.0,10.0,15.0,5.0,30.0,1,8.0,8.0,7.0,7.0,7.0,7.0,8.0,5.0,2.0,25.0,Climate Dynamics,18.0,"Ecole Normale Suprieure, Paris",NaN,NaN,2.0,1.0,1.0,France,"78,110",NaN,1.0,2.0,1.0,assistant master of the universe (otherwise it...,15.0,8.0,2.0,5.0,10.0,10.0,10.0,7.0,1.0,9.0,8.0,3.0,7.0,9.0,10.0,10.0,7.0,3.0,10.0,NaN,70.0,0.0,15.0,15.0,0.0,0.0,90.0,0.0,0.0,0.0,0.0,10.0,50.0,0.0,0.0,30.0,0.0,20.0,8.0,7.0,6.0,7.0,7.0,9.0,7.0,10.0,5.0,9.0,0,3.0,7.0,6.0,4.0,8.0,1.0,4.0,5.0,0.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,1.0,2.0,70.0,0.0,15.0,10.0,0.0,5.0,70.00,0.00,15.00,10.00,0.00,5.00,80.0,0.0,5.0,5.0,0.0,10.0,50.0,5.0,10.0,20.0,5.0,10.0,9.0,3.0,7.0,6.0,9.0,9.0,3.0,9.0,4.0,7.0,2.0,0.0,0.0,NaN,1.0,70.0,0.0,20.0,10.0,0.0,0.0,70.0,0.0,20.0,10.0,0.0,0.0,80.0,0.0,10.0,0.0,0.0,10.0,50.0,5.0,10.0,20.0,10.0,5.0,8.0,5.0,7.0,6.0,7.0,9.0,5.0,9.0,5.0,6.0

In [89]:
df.columns.values

array(['gender', 'idg', 'condtn', 'wave', 'round', 'position', 'positin1',
       'order', 'partner', 'pid', 'match', 'int_corr', 'samerace',
       'age_o', 'race_o', 'pf_o_att', 'pf_o_sin', 'pf_o_int', 'pf_o_fun',
       'pf_o_amb', 'pf_o_sha', 'dec_o', 'attr_o', 'sinc_o', 'intel_o',
       'fun_o', 'amb_o', 'shar_o', 'like_o', 'prob_o', 'met_o', 'age',
       'field', 'field_cd', 'undergra', 'mn_sat', 'tuition', 'race',
       'imprace', 'imprelig', 'from', 'zipcode', 'income', 'goal', 'date',
       'go_out', 'career', 'career_c', 'sports', 'tvsports', 'exercise',
       'dining', 'museums', 'art', 'hiking', 'gaming', 'clubbing',
       'reading', 'tv', 'theater', 'movies', 'concerts', 'music',
       'shopping', 'yoga', 'exphappy', 'expnum', 'attr1_1', 'sinc1_1',
       'intel1_1', 'fun1_1', 'amb1_1', 'shar1_1', 'attr4_1', 'sinc4_1',
       'intel4_1', 'fun4_1', 'amb4_1', 'shar4_1', 'attr2_1', 'sinc2_1',
       'intel2_1', 'fun2_1', 'amb2_1', 'shar2_1', 'attr3_1', 'sinc3_1',
       'fun3_1', 'intel3_1', 'amb3_1', 'attr5_1', 'sinc5_1', 'intel5_1',
       'fun5_1', 'amb5_1', 'dec', 'attr', 'sinc', 'intel', 'fun', 'amb',
       'shar', 'like', 'prob', 'met', 'match_es', 'attr1_s', 'sinc1_s',
       'intel1_s', 'fun1_s', 'amb1_s', 'shar1_s', 'attr3_s', 'sinc3_s',
       'intel3_s', 'fun3_s', 'amb3_s', 'satis_2', 'length', 'numdat_2',
       'attr7_2', 'sinc7_2', 'intel7_2', 'fun7_2', 'amb7_2', 'shar7_2',
       'attr1_2', 'sinc1_2', 'intel1_2', 'fun1_2', 'amb1_2', 'shar1_2',
       'attr4_2', 'sinc4_2', 'intel4_2', 'fun4_2', 'amb4_2', 'shar4_2',
       'attr2_2', 'sinc2_2', 'intel2_2', 'fun2_2', 'amb2_2', 'shar2_2',
       'attr3_2', 'sinc3_2', 'intel3_2', 'fun3_2', 'amb3_2', 'attr5_2',
       'sinc5_2', 'intel5_2', 'fun5_2', 'amb5_2', 'you_call', 'them_cal',
       'date_3', 'numdat_3', 'num_in_3', 'attr1_3', 'sinc1_3', 'intel1_3',
       'fun1_3', 'amb1_3', 'shar1_3', 'attr7_3', 'sinc7_3', 'intel7_3',
       'fun7_3', 'amb7_3', 'shar7_3', 'attr4_3', 'sinc4_3', 'intel4_3',
       'fun4_3', 'amb4_3', 'shar4_3', 'attr2_3', 'sinc2_3', 'intel2_3',
       'fun2_3', 'amb2_3', 'shar2_3', 'attr3_3', 'sinc3_3', 'intel3_3',
       'fun3_3', 'amb3_3', 'attr5_3', 'sinc5_3', 'intel5_3', 'fun5_3',
       'amb5_3'], dtype=object)

In [90]:
#eliminamos
df.drop(['idg', 'condtn', 'wave', 'round','position', 'positin1','order','partner', 'pid','int_corr','pf_o_att', 'pf_o_sin', 'pf_o_int', 'pf_o_fun', 'undergra', 'mn_sat', 'tuition','zipcode', 'income','pf_o_amb', 'pf_o_sha', 'sports', 'tvsports', 'exercise','dining', 'museums', 'art', 'hiking', 'gaming', 'clubbing',
'reading', 'tv', 'theater', 'movies', 'concerts', 'music','shopping', 'yoga', 'exphappy', 'expnum', 'attr1_1', 'sinc1_1','intel1_1', 'fun1_1', 'amb1_1', 'shar1_1', 'attr4_1', 'sinc4_1','intel4_1', 'fun4_1', 'amb4_1', 'shar4_1', 'attr2_1', 'sinc2_1',
'intel2_1', 'fun2_1', 'amb2_1', 'shar2_1', 'attr3_1', 'sinc3_1',
       'fun3_1', 'intel3_1', 'amb3_1', 'attr5_1', 'sinc5_1', 'intel5_1',
       'fun5_1', 'amb5_1','match_es', 'attr1_s', 'sinc1_s',
       'intel1_s', 'fun1_s', 'amb1_s', 'shar1_s', 'attr3_s', 'sinc3_s',
       'intel3_s', 'fun3_s', 'amb3_s', 'satis_2', 'numdat_2',
       'attr7_2', 'sinc7_2', 'intel7_2', 'fun7_2', 'amb7_2', 'shar7_2',
       'attr1_2', 'sinc1_2', 'intel1_2', 'fun1_2', 'amb1_2', 'shar1_2',
       'attr4_2', 'sinc4_2', 'intel4_2', 'fun4_2', 'amb4_2', 'shar4_2',
       'attr2_2', 'sinc2_2', 'intel2_2', 'fun2_2', 'amb2_2', 'shar2_2',
       'attr3_2', 'sinc3_2', 'intel3_2', 'fun3_2', 'amb3_2', 'attr5_2',
       'sinc5_2', 'intel5_2', 'fun5_2', 'amb5_2','date_3', 'numdat_3', 'num_in_3', 'attr1_3', 'sinc1_3', 'intel1_3',
       'fun1_3', 'amb1_3', 'shar1_3', 'attr7_3', 'sinc7_3', 'intel7_3',
       'fun7_3', 'amb7_3', 'shar7_3', 'attr4_3', 'sinc4_3', 'intel4_3',
       'fun4_3', 'amb4_3', 'shar4_3', 'attr2_3', 'sinc2_3', 'intel2_3',
       'fun2_3', 'amb2_3', 'shar2_3', 'attr3_3', 'sinc3_3', 'intel3_3',
       'fun3_3', 'amb3_3', 'attr5_3', 'sinc5_3', 'intel5_3', 'fun5_3',
       'amb5_3','like', 'prob_o', 'met_o', 'prob', 'met'], axis=1, inplace = True)

In [91]:
pd.set_option('display.max_columns', None)
df

,gender,match,samerace,age_o,race_o,dec_o,attr_o,sinc_o,intel_o,fun_o,amb_o,shar_o,like_o,age,field,field_cd,race,imprace,imprelig,from,goal,date,go_out,career,career_c,dec,attr,sinc,intel,fun,amb,shar,length,you_call,them_cal
0,0,0,0,27.0,2.0,0,6.0,8.0,8.0,8.0,8.0,6.0,7.0,21.0,Law,1.0,4.0,2.0,4.0,Chicago,2.0,7.0,1.0,lawyer,NaN,1,6.0,9.0,7.0,7.0,6.0,5.0,2.0,1.0,1.0
1,0,0,0,22.0,2.0,0,7.0,8.0,10.0,7.0,7.0,5.0,8.0,21.0,Law,1.0,4.0,2.0,4.0,Chicago,2.0,7.0,1.0,lawyer,NaN,1,7.0,8.0,7.0,8.0,5.0,6.0,2.0,1.0,1.0
2,0,1,1,22.0,4.0,1,10.0,10.0,10.0,10.0,10.0,10.0,10.0,21.0,Law,1.0,4.0,2.0,4.0,Chicago,2.0,7.0,1.0,lawyer,NaN,1,5.0,8.0,9.0,8.0,5.0,7.0,2.0,1.0,1.0
3,0,1,0,23.0,2.0,1,7.0,8.0,9.0,8.0,9.0,8.0,7.0,21.0,Law,1.0,4.0,2.0,4.0,Chicago,2.0,7.0,1.0,lawyer,NaN,1,7.0,6.0,8.0,7.0,6.0,8.0,2.0,1.0,1.0
4,0,1,0,24.0,3.0,1,8.0,7.0,9.0,6.0,9.0,7.0,8.0,21.0,Law,1.0,4.0,2.0,4.0,Chicago,2.0,7.0,1.0,lawyer,NaN,1,5.0,6.0,7.0,7.0,6.0,6.0,2.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8373,1,0,0,26.0,3.0,1,10.0,5.0,3.0,2.0,6.0,5.0,6.0,25.0,Climate Dynamics,18.0,2.0,1.0,1.0,France,1.0,2.0,1.0,assistant master of the universe (otherwise it...,15.0,0,3.0,5.0,5.0,5.0,NaN,NaN,1.0,2.0,0.0
8374,1,0,0,24.0,6.0,0,6.0,3.0,7.0,3.0,7.0,2.0,2.0,25.0,Climate Dynamics,18.0,2.0,1.0,1.0,France,1.0,2.0,1.0,assistant master of the universe (otherwise it...,15.0,0,4.0,6.0,8.0,4.0,4.0,NaN,1.0,2.0,0.0
8375,1,0,0,29.0,3.0,0,2.0,1.0,2.0,2.0,2.0,1.0,2.0,25.0,Climate Dynamics,18.0,2.0,1.0,1.0,France,1.0,2.0,1.0,assistant master of the universe (otherwise it...,15.0,0,4.0,7.0,8.0,8.0,8.0,NaN,1.0,2.0,0.0
8376,1,0,0,22.0,4.0,1,5.0,7.0,5.0,5.0,3.0,6.0,6.0,25.0,Climate Dynamics,18.0,2.0,1.0,1.0,France,1.0,2.0,1.0,assistant master of the universe (otherwise it...,15.0,0,4.0,6.0,5.0,4.0,NaN,5.0,1.0,2.0,0.0
8377,1,0,0,22.0,4.0,1,8.0,8.0,7.0,7.0,7.0,7.0,8.0,25.0,Climate Dynamics,18.0,2.0,1.0,1.0,France,1.0,2.0,1.0,assistant master of the universe (otherwise it...,15.0,0,3.0,7.0,6.0,4.0,8.0,1.0,1.0,2.0,0.0

In [92]:
#Renombramos columnas
df.rename(columns={"samerace" : 'same_race', 
                    "dec_o":'decision_o', 
                    "dec":'decision',
                    "shar_o":'shared_interest_o',
                    "imprace":'race_important',
                    "imprelig":'religion_important',
                    "date":'frequency_of_date',
                    "shar":'shared_interest',
                    "attr_o":'attractiveness_o',
                    "sinc_o":'sincerity_o',
                    "intel_o":'intelligence_o',
                    "amb_o":'ambition_o',
                    "attr":'attractiveness',
                    "sinc":'sincerity', 
                    "intel":'intelligence',
                    "amb":'ambition',
                    'go_out':'frequency_go_out'}, inplace=True)

In [93]:
df

,gender,match,same_race,age_o,race_o,decision_o,attractiveness_o,sincerity_o,intelligence_o,fun_o,ambition_o,shared_interest_o,like_o,age,field,field_cd,race,race_important,religion_important,from,goal,frequency_of_date,frequency_go_out,career,career_c,decision,attractiveness,sincerity,intelligence,fun,ambition,shared_interest,length,you_call,them_cal
0,0,0,0,27.0,2.0,0,6.0,8.0,8.0,8.0,8.0,6.0,7.0,21.0,Law,1.0,4.0,2.0,4.0,Chicago,2.0,7.0,1.0,lawyer,NaN,1,6.0,9.0,7.0,7.0,6.0,5.0,2.0,1.0,1.0
1,0,0,0,22.0,2.0,0,7.0,8.0,10.0,7.0,7.0,5.0,8.0,21.0,Law,1.0,4.0,2.0,4.0,Chicago,2.0,7.0,1.0,lawyer,NaN,1,7.0,8.0,7.0,8.0,5.0,6.0,2.0,1.0,1.0
2,0,1,1,22.0,4.0,1,10.0,10.0,10.0,10.0,10.0,10.0,10.0,21.0,Law,1.0,4.0,2.0,4.0,Chicago,2.0,7.0,1.0,lawyer,NaN,1,5.0,8.0,9.0,8.0,5.0,7.0,2.0,1.0,1.0
3,0,1,0,23.0,2.0,1,7.0,8.0,9.0,8.0,9.0,8.0,7.0,21.0,Law,1.0,4.0,2.0,4.0,Chicago,2.0,7.0,1.0,lawyer,NaN,1,7.0,6.0,8.0,7.0,6.0,8.0,2.0,1.0,1.0
4,0,1,0,24.0,3.0,1,8.0,7.0,9.0,6.0,9.0,7.0,8.0,21.0,Law,1.0,4.0,2.0,4.0,Chicago,2.0,7.0,1.0,lawyer,NaN,1,5.0,6.0,7.0,7.0,6.0,6.0,2.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8373,1,0,0,26.0,3.0,1,10.0,5.0,3.0,2.0,6.0,5.0,6.0,25.0,Climate Dynamics,18.0,2.0,1.0,1.0,France,1.0,2.0,1.0,assistant master of the universe (otherwise it...,15.0,0,3.0,5.0,5.0,5.0,NaN,NaN,1.0,2.0,0.0
8374,1,0,0,24.0,6.0,0,6.0,3.0,7.0,3.0,7.0,2.0,2.0,25.0,Climate Dynamics,18.0,2.0,1.0,1.0,France,1.0,2.0,1.0,assistant master of the universe (otherwise it...,15.0,0,4.0,6.0,8.0,4.0,4.0,NaN,1.0,2.0,0.0
8375,1,0,0,29.0,3.0,0,2.0,1.0,2.0,2.0,2.0,1.0,2.0,25.0,Climate Dynamics,18.0,2.0,1.0,1.0,France,1.0,2.0,1.0,assistant master of the universe (otherwise it...,15.0,0,4.0,7.0,8.0,8.0,8.0,NaN,1.0,2.0,0.0
8376,1,0,0,22.0,4.0,1,5.0,7.0,5.0,5.0,3.0,6.0,6.0,25.0,Climate Dynamics,18.0,2.0,1.0,1.0,France,1.0,2.0,1.0,assistant master of the universe (otherwise it...,15.0,0,4.0,6.0,5.0,4.0,NaN,5.0,1.0,2.0,0.0
8377,1,0,0,22.0,4.0,1,8.0,8.0,7.0,7.0,7.0,7.0,8.0,25.0,Climate Dynamics,18.0,2.0,1.0,1.0,France,1.0,2.0,1.0,assistant master of the universe (otherwise it...,15.0,0,3.0,7.0,6.0,4.0,8.0,1.0,1.0,2.0,0.0

In [94]:
#Reemplazamos datos
race_replacement={1:"Black/African American",
                 2: "European/Caucasion-American",
                 3: "Latino/Hispanic American",
                 4: "Asian/Pacific Islander/Asian-American",
                 5: "Native American",
                 6: "Other"}

field_replacement={1:"Law",
                   2:"Math",
                   3:"Social Science, Psychologist",
                   4:"Medican Science, Pharmaceuticals, and Bio Tech",
                   5:"Engineering",
                   6:"English/Creative Writing / Journalism",
                   7:"History/ Religion/ Philosophy",
                   8:"Business/Econ/Finance",
                   9:"Education, Academia",
                   10:"Biological Sciences / Chemistry/ Physics",
                   11:"Social Work",
                   12:"Undergrad/undecided",
                   13:"Political Science/ International Affairs",
                   14:"Film",
                   15:"Fine Arts / Arts Administration",
                   16:"Languages",
                   17:"Architecture",
                   18:"Other"}

career_replacement={1: "Lawyer",
                   2:  "Academic / Research",
                   3:  "Psychologist",
                   4:  "Doctor/Medicine",
                   5:  "Engineer",
                   6:  "Creative Arts/ Entertainment",
                   7:  "Banking / Consulting /Finance / Marketing/ Business /CEO/ Entrepreneur / Admin",
                   8:  "Real Estate",
                   9:  "International /Humanitarian Affairs",
                   10:  "Undecided",
                   11:  "Social Work",
                   12:  "Speech Pathology",
                   13:  "Politics",
                   14:  "Pro Sports / Athletics",
                   15:  "Other",
                   16:  "Journalism",
                   17:  "Architecture"}

decision_replacement={1:"Yes", 0:"No"}
length_replacement={1:"Too little",
                   2: "Too much",
                   3: "Just Right"}
goal_replacement={1:"Seemed like a fan night out",
                 2: "To meet new people",
                 3: "To get a date",
                 4:"Looking for serious relationship",
                 5:"To say I did it",
                 6: "Other"}
frequency_replacement={1:"Several times a week",
                      2: "Twice a week",
                      3: "Once a week",
                      4: "Twice a month",
                      5: "Once a month",
                      6: "Several times a year",
                      7: "Almost never"}


df["gender"].replace({0:"Female",1:"Male"}, inplace=True)
df["match"].replace({1:"Yes",0:"No"}, inplace=True)
df["same_race"].replace({1:"Yes",0:"No"},inplace=True)
df["race_o"].replace(race_replacement, inplace=True)
df["decision_o"].replace(decision_replacement, inplace=True)
df["decision"].replace(decision_replacement, inplace=True)
df["field_cd"].replace(field_replacement, inplace=True)
df["field"].replace(field_replacement, inplace=True)
df["race"].replace(race_replacement, inplace=True)
df["career_c"].replace(career_replacement, inplace=True)
df["career"].replace(career_replacement, inplace=True)
df["length"].replace(length_replacement, inplace=True)
df["goal"].replace(goal_replacement, inplace=True)
df["frequency_of_date"].replace(frequency_replacement, inplace=True)
df["frequency_go_out"].replace(frequency_replacement, inplace=True)

df.head(5)

,gender,match,same_race,age_o,race_o,decision_o,attractiveness_o,sincerity_o,intelligence_o,fun_o,ambition_o,shared_interest_o,like_o,age,field,field_cd,race,race_important,religion_important,from,goal,frequency_of_date,frequency_go_out,career,career_c,decision,attractiveness,sincerity,intelligence,fun,ambition,shared_interest,length,you_call,them_cal
0,Female,No,No,27.0,European/Caucasion-American,No,6.0,8.0,8.0,8.0,8.0,6.0,7.0,21.0,Law,Law,Asian/Pacific Islander/Asian-American,2.0,4.0,Chicago,To meet new people,Almost never,Several times a week,lawyer,NaN,Yes,6.0,9.0,7.0,7.0,6.0,5.0,Too much,1.0,1.0
1,Female,No,No,22.0,European/Caucasion-American,No,7.0,8.0,10.0,7.0,7.0,5.0,8.0,21.0,Law,Law,Asian/Pacific Islander/Asian-American,2.0,4.0,Chicago,To meet new people,Almost never,Several times a week,lawyer,NaN,Yes,7.0,8.0,7.0,8.0,5.0,6.0,Too much,1.0,1.0
2,Female,Yes,Yes,22.0,Asian/Pacific Islander/Asian-American,Yes,10.0,10.0,10.0,10.0,10.0,10.0,10.0,21.0,Law,Law,Asian/Pacific Islander/Asian-American,2.0,4.0,Chicago,To meet new people,Almost never,Several times a week,lawyer,NaN,Yes,5.0,8.0,9.0,8.0,5.0,7.0,Too much,1.0,1.0
3,Female,Yes,No,23.0,European/Caucasion-American,Yes,7.0,8.0,9.0,8.0,9.0,8.0,7.0,21.0,Law,Law,Asian/Pacific Islander/Asian-American,2.0,4.0,Chicago,To meet new people,Almost never,Several times a week,lawyer,NaN,Yes,7.0,6.0,8.0,7.0,6.0,8.0,Too much,1.0,1.0
4,Female,Yes,No,24.0,Latino/Hispanic American,Yes,8.0,7.0,9.0,6.0,9.0,7.0,8.0,21.0,Law,Law,Asian/Pacific Islander/Asian-American,2.0,4.0,Chicago,To meet new people,Almost never,Several times a week,lawyer,NaN,Yes,5.0,6.0,7.0,7.0,6.0,6.0,Too much,1.0,1.0

In [95]:
def exploracion_csv(archivo):
  
    #Echamos un vistazo
    print("\nPrimeras filas:")
    display(df.head(5))
    print("\n-----------------------------")

    print("\nÚltimas filas:")
    display(df.tail(5))
    print("-----------------------------")

    print("\nFilas aleatorias:")
    display(df.sample(5))
    print("\n-----------------------------")

    print(f"\nEl df tiene {df.shape[0]} filas y {df.shape[1]} columnas")
    print("\n-----------------------------")

    print(f"\nFilas duplicadas: {df.duplicated().sum()}")
    print("\n-----------------------------")

    print(f"\nColumnas: {df.columns}")
    print("\n-----------------------------")

    # nulos y tipos de columnas
    print("\nLos nulos y tipos de columnas que tenemos en el conjunto de datos son:")
    info_columnas = pd.concat([df.isnull().sum(), ((df.isnull().sum()/df.shape[0]) * 100).round(2), df.dtypes], axis=1)
    info_columnas.columns = ['Total Nulos','Porcentaje Nulos', 'Tipo Columna']
    print(info_columnas)
    print("\n-----------------------------")
    
    # valores columnas
    print("\nValores de las columnas: ")
    df_columnas = df.columns
    
    for col in df_columnas:
        unicos = df[col].nunique()
        print(f"\nLa columna {col.upper()} tiene {unicos} valores únicos")
        if unicos <=50:
            print(f"\nLos valores únicos son:")
            print(df[col].unique())
        print(f"\nNúmero de veces que aparece cada valor:")
        print(df[col].value_counts())
        print("\n-----------------------------")

In [96]:
exploracion_csv("speed_dating_data.csv")

Primeras filas:

,gender,match,same_race,age_o,race_o,decision_o,attractiveness_o,sincerity_o,intelligence_o,fun_o,ambition_o,shared_interest_o,like_o,age,field,field_cd,race,race_important,religion_important,from,goal,frequency_of_date,frequency_go_out,career,career_c,decision,attractiveness,sincerity,intelligence,fun,ambition,shared_interest,length,you_call,them_cal
0,Female,No,No,27.0,European/Caucasion-American,No,6.0,8.0,8.0,8.0,8.0,6.0,7.0,21.0,Law,Law,Asian/Pacific Islander/Asian-American,2.0,4.0,Chicago,To meet new people,Almost never,Several times a week,lawyer,NaN,Yes,6.0,9.0,7.0,7.0,6.0,5.0,Too much,1.0,1.0
1,Female,No,No,22.0,European/Caucasion-American,No,7.0,8.0,10.0,7.0,7.0,5.0,8.0,21.0,Law,Law,Asian/Pacific Islander/Asian-American,2.0,4.0,Chicago,To meet new people,Almost never,Several times a week,lawyer,NaN,Yes,7.0,8.0,7.0,8.0,5.0,6.0,Too much,1.0,1.0
2,Female,Yes,Yes,22.0,Asian/Pacific Islander/Asian-American,Yes,10.0,10.0,10.0,10.0,10.0,10.0,10.0,21.0,Law,Law,Asian/Pacific Islander/Asian-American,2.0,4.0,Chicago,To meet new people,Almost never,Several times a week,lawyer,NaN,Yes,5.0,8.0,9.0,8.0,5.0,7.0,Too much,1.0,1.0
3,Female,Yes,No,23.0,European/Caucasion-American,Yes,7.0,8.0,9.0,8.0,9.0,8.0,7.0,21.0,Law,Law,Asian/Pacific Islander/Asian-American,2.0,4.0,Chicago,To meet new people,Almost never,Several times a week,lawyer,NaN,Yes,7.0,6.0,8.0,7.0,6.0,8.0,Too much,1.0,1.0
4,Female,Yes,No,24.0,Latino/Hispanic American,Yes,8.0,7.0,9.0,6.0,9.0,7.0,8.0,21.0,Law,Law,Asian/Pacific Islander/Asian-American,2.0,4.0,Chicago,To meet new people,Almost never,Several times a week,lawyer,NaN,Yes,5.0,6.0,7.0,7.0,6.0,6.0,Too much,1.0,1.0

-----------------------------

Últimas filas:

,gender,match,same_race,age_o,race_o,decision_o,attractiveness_o,sincerity_o,intelligence_o,fun_o,ambition_o,shared_interest_o,like_o,age,field,field_cd,race,race_important,religion_important,from,goal,frequency_of_date,frequency_go_out,career,career_c,decision,attractiveness,sincerity,intelligence,fun,ambition,shared_interest,length,you_call,them_cal
8373,Male,No,No,26.0,Latino/Hispanic American,Yes,10.0,5.0,3.0,2.0,6.0,5.0,6.0,25.0,Climate Dynamics,Other,European/Caucasion-American,1.0,1.0,France,Seemed like a fan night out,Twice a week,Several times a week,assistant master of the universe (otherwise it...,Other,No,3.0,5.0,5.0,5.0,NaN,NaN,Too little,2.0,0.0
8374,Male,No,No,24.0,Other,No,6.0,3.0,7.0,3.0,7.0,2.0,2.0,25.0,Climate Dynamics,Other,European/Caucasion-American,1.0,1.0,France,Seemed like a fan night out,Twice a week,Several times a week,assistant master of the universe (otherwise it...,Other,No,4.0,6.0,8.0,4.0,4.0,NaN,Too little,2.0,0.0
8375,Male,No,No,29.0,Latino/Hispanic American,No,2.0,1.0,2.0,2.0,2.0,1.0,2.0,25.0,Climate Dynamics,Other,European/Caucasion-American,1.0,1.0,France,Seemed like a fan night out,Twice a week,Several times a week,assistant master of the universe (otherwise it...,Other,No,4.0,7.0,8.0,8.0,8.0,NaN,Too little,2.0,0.0
8376,Male,No,No,22.0,Asian/Pacific Islander/Asian-American,Yes,5.0,7.0,5.0,5.0,3.0,6.0,6.0,25.0,Climate Dynamics,Other,European/Caucasion-American,1.0,1.0,France,Seemed like a fan night out,Twice a week,Several times a week,assistant master of the universe (otherwise it...,Other,No,4.0,6.0,5.0,4.0,NaN,5.0,Too little,2.0,0.0
8377,Male,No,No,22.0,Asian/Pacific Islander/Asian-American,Yes,8.0,8.0,7.0,7.0,7.0,7.0,8.0,25.0,Climate Dynamics,Other,European/Caucasion-American,1.0,1.0,France,Seemed like a fan night out,Twice a week,Several times a week,assistant master of the universe (otherwise it...,Other,No,3.0,7.0,6.0,4.0,8.0,1.0,Too little,2.0,0.0

-----------------------------

Filas aleatorias:

,gender,match,same_race,age_o,race_o,decision_o,attractiveness_o,sincerity_o,intelligence_o,fun_o,ambition_o,shared_interest_o,like_o,age,field,field_cd,race,race_important,religion_important,from,goal,frequency_of_date,frequency_go_out,career,career_c,decision,attractiveness,sincerity,intelligence,fun,ambition,shared_interest,length,you_call,them_cal
243,Female,No,No,23.0,European/Caucasion-American,No,4.0,6.0,4.0,1.0,1.0,1.0,2.0,21.0,Psychology,"Social Science, Psychologist",Asian/Pacific Islander/Asian-American,9.0,6.0,Hong Kong,Seemed like a fan night out,Several times a week,Several times a week,psychologist,Psychologist,No,7.0,6.0,5.0,4.0,4.0,4.0,Too much,0.0,0.0
6014,Female,No,Yes,31.0,European/Caucasion-American,No,1.0,3.0,8.0,5.0,5.0,NaN,3.0,22.0,Writing: Literary Nonfiction,English/Creative Writing / Journalism,European/Caucasion-American,4.0,8.0,Long Island,Seemed like a fan night out,Almost never,Several times a week,Writing or Editorial,Creative Arts/ Entertainment,Yes,8.0,8.0,8.0,8.0,8.0,9.0,Too little,NaN,NaN
982,Male,No,No,29.0,Other,Yes,7.0,10.0,10.0,9.0,NaN,4.0,8.0,22.0,MBA,Business/Econ/Finance,European/Caucasion-American,7.0,3.0,Chicago,Other,Twice a month,Twice a week,Trading,Banking / Consulting /Finance / Marketing/ Bus...,No,4.0,7.0,6.0,6.0,7.0,5.0,Too little,NaN,NaN
2162,Male,No,No,27.0,Asian/Pacific Islander/Asian-American,No,6.0,7.0,7.0,6.0,8.0,6.0,6.0,23.0,physics (astrophysics),Biological Sciences / Chemistry/ Physics,European/Caucasion-American,3.0,4.0,NYC (Staten Island),Looking for serious relationship,Several times a year,Twice a week,"physicist, probably academia",Academic / Research,Yes,9.0,9.0,8.0,7.0,7.0,6.0,Too little,0.0,0.0
3523,Male,No,No,29.0,Asian/Pacific Islander/Asian-American,No,4.0,9.0,8.0,6.0,6.0,4.0,6.0,25.0,biotechnology,Biological Sciences / Chemistry/ Physics,European/Caucasion-American,7.0,1.0,"brooklyn, ny",Seemed like a fan night out,Almost never,Several times a year,scientist,Academic / Research,Yes,8.0,5.0,6.0,7.0,NaN,5.0,Just Right,1.0,1.0

-----------------------------

El df tiene 8378 filas y 35 columnas

-----------------------------

Filas duplicadas: 6

-----------------------------

Columnas: Index(['gender', 'match', 'same_race', 'age_o', 'race_o', 'decision_o',
       'attractiveness_o', 'sincerity_o', 'intelligence_o', 'fun_o',
       'ambition_o', 'shared_interest_o', 'like_o', 'age', 'field', 'field_cd',
       'race', 'race_important', 'religion_important', 'from', 'goal',
       'frequency_of_date', 'frequency_go_out', 'career', 'career_c',
       'decision', 'attractiveness', 'sincerity', 'intelligence', 'fun',
       'ambition', 'shared_interest', 'length', 'you_call', 'them_cal'],
      dtype='object')

-----------------------------

Los nulos y tipos de columnas que tenemos en el conjunto de datos son:
                    Total Nulos  Porcentaje Nulos Tipo Columna
gender                        0              0.00       object
match                         0              0.00       object
same_race                     0              0.00       object
age_o                       104              1.24      float64
race_o                       73              0.87       object
decision_o                    0              0.00       object
attractiveness_o            212              2.53      float64
sincerity_o                 287              3.43      float64
intelligence_o              306              3.65      float64
fun_o                       360              4.30      float64
ambition_o                  722              8.62      float64
shared_interest_o          1076             12.84      float64
like_o                      250              2.98      float64
age                          95              1.13      float64
field                        63              0.75       object
field_cd                     82              0.98       object
race                         63              0.75       object
race_important               79              0.94      float64
religion_important           79              0.94      float64
from                         79              0.94       object
goal                         79              0.94       object
frequency_of_date            97              1.16       object
frequency_go_out             79              0.94       object
career                       89              1.06       object
career_c                    138              1.65       object
decision                      0              0.00       object
attractiveness              202              2.41      float64
sincerity                   277              3.31      float64
intelligence                296              3.53      float64
fun                         350              4.18      float64
ambition                    712              8.50      float64
shared_interest            1067             12.74      float64
length                      915             10.92       object
you_call                   4404             52.57      float64
them_cal                   4404             52.57      float64

-----------------------------

Valores de las columnas:

La columna GENDER tiene 2 valores únicos

Los valores únicos son:
['Female' 'Male']

Número de veces que aparece cada valor:
Male      4194
Female    4184
Name: gender, dtype: int64

-----------------------------

La columna MATCH tiene 2 valores únicos

Los valores únicos son:
['No' 'Yes']

Número de veces que aparece cada valor:
No     6998
Yes    1380
Name: match, dtype: int64

-----------------------------

La columna SAME_RACE tiene 2 valores únicos

Los valores únicos son:
['No' 'Yes']

Número de veces que aparece cada valor:
No     5062
Yes    3316
Name: same_race, dtype: int64

-----------------------------

La columna AGE_O tiene 24 valores únicos

Los valores únicos son:
[27. 22. 23. 24. 25. 30. 28. 21. 26. 29. nan 39. 32. 34. 35. 18. 20. 19.
 37. 33. 36. 31. 42. 38. 55.]

Número de veces que aparece cada valor:
27.0    1059
23.0     894
26.0     869
24.0     863
25.0     837
28.0     746
22.0     651
29.0     589
30.0     574
21.0     289
32.0     210
33.0     161
34.0     152
31.0     125
35.0      60
20.0      54
36.0      45
42.0      20
19.0      19
38.0      19
39.0      18
18.0       9
55.0       6
37.0       5
Name: age_o, dtype: int64

-----------------------------

La columna RACE_O tiene 5 valores únicos

Los valores únicos son:
['European/Caucasion-American' 'Asian/Pacific Islander/Asian-American'
 'Latino/Hispanic American' 'Other' 'Black/African American' nan]

Número de veces que aparece cada valor:
European/Caucasion-American              4722
Asian/Pacific Islander/Asian-American    1978
Latino/Hispanic American                  664
Other                                     521
Black/African American                    420
Name: race_o, dtype: int64

-----------------------------

La columna DECISION_O tiene 2 valores únicos

Los valores únicos son:
['No' 'Yes']

Número de veces que aparece cada valor:
No     4863
Yes    3515
Name: decision_o, dtype: int64

-----------------------------

La columna ATTRACTIVENESS_O tiene 18 valores únicos

Los valores únicos son:
[ 6.   7.  10.   8.   3.   9.   5.   4.   2.   1.   nan  0.   6.5  7.5
  8.5  9.5  9.9 10.5  3.5]

Número de veces que aparece cada valor:
6.0     1655
7.0     1642
5.0     1260
8.0     1230
4.0      748
9.0      540
3.0      390
10.0     324
2.0      244
1.0      108
0.0        8
6.5        7
7.5        3
9.5        3
8.5        1
9.9        1
10.5       1
3.5        1
Name: attractiveness_o, dtype: int64

-----------------------------

La columna SINCERITY_O tiene 14 valores únicos

Los valores únicos son:
[ 8.  10.   7.   6.   9.   3.   5.   4.   1.   2.   nan  4.5  8.5  0.
  7.5]

Número de veces que aparece cada valor:
8.0     2045
7.0     1892
6.0     1254
9.0      929
10.0     734
5.0      699
4.0      278
3.0      134
2.0       75
1.0       38
0.0        9
8.5        2
4.5        1
7.5        1
Name: sincerity_o, dtype: int64

-----------------------------

La columna INTELLIGENCE_O tiene 17 valores únicos

Los valores únicos son:
[ 8.  10.   9.   7.   5.   6.   4.   3.   1.   nan  2.   6.5  0.   8.5
  7.5  9.5  2.5  5.5]

Número de veces que aparece cada valor:
8.0     2198
7.0     2021
6.0     1152
9.0     1104
10.0     675
5.0      628
4.0      161
3.0       69
2.0       34
1.0       13
0.0        5
7.5        4
6.5        3
8.5        2
9.5        1
2.5        1
5.5        1
Name: intelligence_o, dtype: int64

-----------------------------

La columna FUN_O tiene 17 valores únicos

Los valores únicos son:
[ 8.   7.  10.   6.   5.   9.   3.   4.   1.   2.   nan  5.5  0.   6.5
  9.5  7.5  8.5 11. ]

Número de veces que aparece cada valor:
7.0     1657
6.0     1529
8.0     1453
5.0     1157
4.0      605
9.0      600
10.0     386
3.0      281
2.0      220
1.0      107
0.0       14
5.5        2
6.5        2
7.5        2
9.5        1
8.5        1
11.0       1
Name: fun_o, dtype: int64

-----------------------------

La columna AMBITION_O tiene 15 valores únicos

Los valores únicos son:
[ 8.   7.  10.   9.   6.   5.   nan  4.   1.   2.   3.   5.5  9.5  0.
  7.5  8.5]

Número de veces que aparece cada valor:
7.0     1679
8.0     1506
6.0     1425
5.0     1102
9.0      788
10.0     470
4.0      361
3.0      172
2.0      101
1.0       42
0.0        5
7.5        2
5.5        1
9.5        1
8.5        1
Name: ambition_o, dtype: int64

-----------------------------

La columna SHARED_INTEREST_O tiene 15 valores únicos

Los valores únicos son:
[ 6.   5.  10.   8.   7.   9.   4.   3.   nan  1.   2.   0.   7.5  6.5
  8.5  5.5]

Número de veces que aparece cada valor:
5.0     1462
6.0     1247
7.0     1149
4.0      783
8.0      769
3.0      588
2.0      484
9.0      317
1.0      238
10.0     197
0.0       59
7.5        4
6.5        2
8.5        2
5.5        1
Name: shared_interest_o, dtype: int64

-----------------------------

La columna LIKE_O tiene 18 valores únicos

Los valores únicos son:
[ 7.   8.  10.   2.   6.5  6.   9.   4.   5.   3.   1.   8.5  9.5  nan
  7.5  4.5  0.   5.5  9.7]

Número de veces que aparece cada valor:
7.0     1813
6.0     1708
5.0     1318
8.0     1272
4.0      644
9.0      412
3.0      394
2.0      223
10.0     182
1.0      110
6.5       20
8.5        9
0.0        8
7.5        6
9.5        3
4.5        3
5.5        2
9.7        1
Name: like_o, dtype: int64

-----------------------------

La columna AGE tiene 24 valores únicos

Los valores únicos son:
[21. 24. 25. 23. 22. 26. 27. 30. 28. nan 29. 34. 35. 32. 39. 20. 19. 18.
 37. 33. 36. 31. 42. 38. 55.]

Número de veces que aparece cada valor:
27.0    1059
23.0     894
26.0     869
24.0     863
25.0     837
28.0     746
22.0     655
29.0     589
30.0     574
21.0     291
32.0     210
33.0     161
34.0     152
31.0     125
35.0      60
20.0      55
36.0      45
19.0      20
42.0      20
38.0      19
39.0      18
18.0      10
55.0       6
37.0       5
Name: age, dtype: int64

-----------------------------

La columna FIELD tiene 259 valores únicos

Número de veces que aparece cada valor:
Business                          521
MBA                               468
Law                               462
Social Work                       378
International Affairs             252
                                 ...
Business (Finance & Marketing)      6
Stats                               6
MFA  Poetry                         6
marine geophysics                   5
theory                              5
Name: field, Length: 259, dtype: int64

-----------------------------

La columna FIELD_CD tiene 18 valores únicos

Los valores únicos son:
['Law' 'Math' 'Political Science/ International Affairs'
 'Business/Econ/Finance' 'Engineering' 'Education, Academia'
 'Social Science, Psychologist' 'Social Work' nan 'Undergrad/undecided'
 'Medican Science, Pharmaceuticals, and Bio Tech'
 'History/ Religion/ Philosophy' 'English/Creative Writing / Journalism'
 'Biological Sciences / Chemistry/ Physics' 'Film' 'Languages'
 'Fine Arts / Arts Administration' 'Architecture' 'Other']

Número de veces que aparece cada valor:
Business/Econ/Finance                             1925
Biological Sciences / Chemistry/ Physics           993
Engineering                                        864
Political Science/ International Affairs           709
Social Science, Psychologist                       696
Law                                                665
Education, Academia                                626
Social Work                                        468
English/Creative Writing / Journalism              325
History/ Religion/ Philosophy                      241
Math                                               207
Fine Arts / Arts Administration                    187
Medican Science, Pharmaceuticals, and Bio Tech     143
Film                                               126
Other                                               52
Languages                                           40
Undergrad/undecided                                 19
Architecture                                        10
Name: field_cd, dtype: int64

-----------------------------

La columna RACE tiene 5 valores únicos

Los valores únicos son:
['Asian/Pacific Islander/Asian-American' 'European/Caucasion-American'
 'Other' 'Latino/Hispanic American' 'Black/African American' nan]

Número de veces que aparece cada valor:
European/Caucasion-American              4727
Asian/Pacific Islander/Asian-American    1982
Latino/Hispanic American                  664
Other                                     522
Black/African American                    420
Name: race, dtype: int64

-----------------------------

La columna RACE_IMPORTANT tiene 11 valores únicos

Los valores únicos son:
[ 2.  8.  1.  4.  7.  3.  9. 10. nan  5.  6.  0.]

Número de veces que aparece cada valor:
1.0     2798
3.0      983
2.0      954
8.0      663
5.0      657
7.0      543
6.0      524
4.0      510
9.0      409
10.0     250
0.0        8
Name: race_important, dtype: int64

-----------------------------

La columna RELIGION_IMPORTANT tiene 10 valores únicos

Los valores únicos son:
[ 4.  5.  1.  3.  2.  8. 10.  6. nan  7.  9.]

Número de veces que aparece cada valor:
1.0     3032
3.0      929
2.0      863
5.0      697
6.0      661
4.0      524
8.0      517
7.0      467
10.0     327
9.0      282
Name: religion_important, dtype: int64

-----------------------------

La columna FROM tiene 269 valores únicos

Número de veces que aparece cada valor:
New York          522
New Jersey        365
California        301
China             139
Italy             132
                 ...
sofia, bg           5
Greenwich, CT       5
Pougkeepsie NY      5
china               5
Europe              5
Name: from, Length: 269, dtype: int64

-----------------------------

La columna GOAL tiene 6 valores únicos

Los valores únicos son:
['To meet new people' 'Seemed like a fan night out' 'Other'
 'To get a date' 'Looking for serious relationship' nan 'To say I did it']

Número de veces que aparece cada valor:
Seemed like a fan night out         3426
To meet new people                  3012
To get a date                        631
To say I did it                      510
Other                                419
Looking for serious relationship     301
Name: goal, dtype: int64

-----------------------------

La columna FREQUENCY_OF_DATE tiene 7 valores únicos

Los valores únicos son:
['Almost never' 'Once a month' 'Once a week' 'Twice a month'
 'Several times a year' 'Several times a week' nan 'Twice a week']

Número de veces que aparece cada valor:
Several times a year    2094
Twice a month           2040
Once a month            1528
Almost never            1434
Once a week              783
Twice a week             308
Several times a week      94
Name: frequency_of_date, dtype: int64

-----------------------------

La columna FREQUENCY_GO_OUT tiene 7 valores únicos

Los valores únicos son:
['Several times a week' 'Twice a month' 'Twice a week' nan 'Once a week'
 'Almost never' 'Once a month' 'Several times a year']

Número de veces que aparece cada valor:
Twice a week            2990
Several times a week    2610
Once a week             1949
Twice a month            450
Once a month             164
Several times a year      99
Almost never              37
Name: frequency_go_out, dtype: int64

-----------------------------

La columna CAREER tiene 367 valores únicos

Número de veces que aparece cada valor:
Finance                     202
professor                   199
Lawyer                      154
Professor                   148
Consulting                  147
                           ...
teaching                      5
MBA                           5
engineering professional      5
Asset Management              5
a research position           5
Name: career, Length: 367, dtype: int64

-----------------------------

La columna CAREER_C tiene 17 valores únicos

Los valores únicos son:
[nan 'Lawyer' 'Creative Arts/ Entertainment'
 'International /Humanitarian Affairs' 'Academic / Research'
 'Banking / Consulting /Finance / Marketing/ Business /CEO/ Entrepreneur / Admin'
 'Undecided' 'Engineer' 'Psychologist' 'Doctor/Medicine'
 'Pro Sports / Athletics' 'Social Work' 'Real Estate' 'Other'
 'Speech Pathology' 'Architecture' 'Politics' 'Journalism']

Número de veces que aparece cada valor:
Academic / Research                                                               2320
Banking / Consulting /Finance / Marketing/ Business /CEO/ Entrepreneur / Admin    2170
Creative Arts/ Entertainment                                                       724
Lawyer                                                                             675
International /Humanitarian Affairs                                                547
Doctor/Medicine                                                                    421
Undecided                                                                          379
Psychologist                                                                       261
Engineer                                                                           234
Social Work                                                                        220
Politics                                                                            81
Other                                                                               77
Journalism                                                                          44
Real Estate                                                                         39
Speech Pathology                                                                    28
Pro Sports / Athletics                                                              10
Architecture                                                                        10
Name: career_c, dtype: int64

-----------------------------

La columna DECISION tiene 2 valores únicos

Los valores únicos son:
['Yes' 'No']

Número de veces que aparece cada valor:
No     4860
Yes    3518
Name: decision, dtype: int64

-----------------------------

La columna ATTRACTIVENESS tiene 17 valores únicos

Los valores únicos son:
[ 6.   7.   5.   4.   8.   9.   3.  10.   1.   nan  2.   0.   6.5  7.5
  9.5  8.5  9.9  3.5]

Número de veces que aparece cada valor:
6.0     1658
7.0     1646
5.0     1260
8.0     1231
4.0      749
9.0      540
3.0      390
10.0     325
2.0      244
1.0      109
0.0        8
6.5        7
7.5        3
9.5        3
8.5        1
9.9        1
3.5        1
Name: attractiveness, dtype: int64

-----------------------------

La columna SINCERITY tiene 14 valores únicos

Los valores únicos son:
[ 9.   8.   6.   7.   5.  10.   4.   1.   3.   nan  2.   4.5  0.   8.5
  7.5]

Número de veces que aparece cada valor:
8.0     2046
7.0     1896
6.0     1255
9.0      930
10.0     735
5.0      701
4.0      278
3.0      134
2.0       75
1.0       38
0.0        9
8.5        2
4.5        1
7.5        1
Name: sincerity, dtype: int64

-----------------------------

La columna INTELLIGENCE tiene 17 valores únicos

Los valores únicos son:
[ 7.   9.   8.   6.  10.   5.   1.   4.   3.   nan  6.5  2.   0.   8.5
  7.5  9.5  2.5  5.5]

Número de veces que aparece cada valor:
8.0     2199
7.0     2023
6.0     1155
9.0     1106
10.0     675
5.0      630
4.0      161
3.0       69
2.0       34
1.0       13
0.0        5
7.5        4
6.5        3
8.5        2
9.5        1
2.5        1
5.5        1
Name: intelligence, dtype: int64

-----------------------------

La columna FUN tiene 16 valores únicos

Los valores únicos son:
[ 7.   8.   4.   6.   9.   3.   5.  10.   2.   1.   nan  5.5  0.   6.5
  9.5  7.5  8.5]

Número de veces que aparece cada valor:
7.0     1657
6.0     1532
8.0     1456
5.0     1158
4.0      607
9.0      600
10.0     388
3.0      281
2.0      220
1.0      107
0.0       14
5.5        2
6.5        2
7.5        2
9.5        1
8.5        1
Name: fun, dtype: int64

-----------------------------

La columna AMBITION tiene 15 valores únicos

Los valores únicos son:
[ 6.   5.   8.  10.   9.   3.   7.   4.   2.   1.   nan  5.5  0.   9.5
  7.5  8.5]

Número de veces que aparece cada valor:
7.0     1681
8.0     1509
6.0     1425
5.0     1106
9.0      788
10.0     470
4.0      361
3.0      173
2.0      101
1.0       42
0.0        5
7.5        2
5.5        1
9.5        1
8.5        1
Name: ambition, dtype: int64

-----------------------------

La columna SHARED_INTEREST tiene 15 valores únicos

Los valores únicos son:
[ 5.   6.   7.   8.   4.   3.   2.   9.  10.   1.   nan  0.   7.5  6.5
  8.5  5.5]

Número de veces que aparece cada valor:
5.0     1465
6.0     1248
7.0     1150
4.0      783
8.0      771
3.0      588
2.0      485
9.0      317
1.0      239
10.0     197
0.0       59
7.5        4
6.5        2
8.5        2
5.5        1
Name: shared_interest, dtype: int64

-----------------------------

La columna LENGTH tiene 3 valores únicos

Los valores únicos son:

In [97]:
df=df.drop_duplicates()

In [98]:
df.duplicated().sum()

0

In [99]:
df['you_call'].replace(21,np.nan, inplace=True)

/home/patriciab/anaconda3/lib/python3.9/site-packages/pandas/core/generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [100]:
df.to_csv('citas_rapidas.csv')